body {
  font-family: "Inter", sans-serif;
}

#content {
  width: 80%;
  margin: 50px 10% 0 10%;
}

#info ul {
  display: flex;
}

#content li {
  margin-right: 20px;
}

#content a:hover {
  fill: #83c08c;
}

input,
textarea {
  display: inline-block;
  border-radius: 10px;
  height: 35px;
  cursor: pointer;
  margin-top: 3px;
  box-sizing: border-box;
  border: solid #83c08c;
  font-size: 16px;
  padding: 2%;
  font-family: "Inter", sans-serif;
}

#message {
  height: 300px;
}

.contact-form,
#info {
  width: 600px;
  margin-bottom: 20px;
}

@media screen and (max-width: 755px) {
  .contact-form,
  #info {
    width: 100%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.contact-form button {
  height: 30px;
  background-color: #83c08c;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
}

.contact-form button:hover {
  cursor: pointer;
  background-color: #679979;
}

/* div {
  border: solid;
} */
