<link rel="stylesheet" type="text/css" href="/components/cvbutton.css" />

<a
  href="https://drive.google.com/file/d/1kWrsn9vo2XXmRHKkLYzI5ElniNES3Bd9/view?usp=sharing"
  target="_blank"
  rel="noopener noreferrer"
  class="cv-button"
>
  <div class="cv-button-wrapper">
    <div class="cv-button-text">CV</div>
  </div>

  <div class="cv-character-box">
    <div class="cv-character">
      <div class="cv-character-face"></div>
    </div>
    <div class="cv-character">
      <div class="cv-character-face"></div>
    </div>
    <div class="cv-character">
      <div class="cv-character-face"></div>
    </div>
  </div>
</a>
