.cv-button {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 40px;
  width: 220px;
  background-color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 2;
  transition: ease 0.5s;
  letter-spacing: 3px;
  border: solid;
}

.cv-button-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

/* CLOUDS */
.cv-button-wrapper::before,
.cv-button-wrapper::after {
  content: "";
  position: absolute;
  top: 15%;
  width: 90%;
  height: 90%;
  background-image: url("data:image/svg+xml,%3Csvg width='81' height='44' viewBox='0 0 81 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cellipse cx='17' cy='22.5' rx='17' ry='8.5' fill='%235FA376'/%3E%3Cpath d='M81 32C81 38.6274 62.8675 44 40.5 44C18.1325 44 0 38.6274 0 32C0 25.3726 18.1325 20 40.5 20C62.8675 20 81 25.3726 81 32Z' fill='%235FA376'/%3E%3Cpath d='M70.9998 24C70.9998 28.9706 66.2988 33 60.4998 33C54.7008 33 49.9998 28.9706 49.9998 24C49.9998 19.0294 54.7008 15 60.4998 15C66.2988 15 70.9998 19.0294 70.9998 24Z' fill='%235FA376'/%3E%3Cellipse cx='27' cy='10' rx='13' ry='10' fill='%235FA376'/%3E%3Cellipse cx='43' cy='16' rx='12.8967' ry='9.14746' transform='rotate(-0.652512 43 16)' fill='%235FA376'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  transition: ease 0.5s;
}

.cv-button-wrapper::before {
  left: -3%;
}

.cv-button-wrapper::after {
  right: -3%;
  transform: rotateY(180deg);
}

.cv-button:hover {
  letter-spacing: 5px;
}

.cv-button:hover .cv-button-wrapper::before {
  left: -13%;
}
.cv-button:hover .cv-button-wrapper::after {
  right: -13%;
}

.cv-button-text {
  font-size: 24px;
}

.cv-character-box {
  display: flex;
  position: absolute;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 180px;
  height: 60px;
  bottom: -60px;
}

.cv-character {
  width: 47px;
  height: 27px;
  border-radius: 20px 20px 45px 45px / 20px 20px 40px 40px;
  background-color: rgb(255, 255, 255);
  animation: sleep2 1s ease infinite alternate;
  border: solid black;
}

@keyframes sleep2 {
  0% {
    height: 32px;
    border-radius: 40px 40px 50px 50px / 20px 20px 40px 40px;
  }
  100% {
    height: 27px;
    border-radius: 20px 20px 45px 45px / 20px 20px 40px 40px;
  }
}

/* EARS */

.cv-character::before {
  content: "";
  position: absolute;
  top: 30px;
  width: 45px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='24' viewBox='0 0 65 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.0649 18.2803C53.2864 18.712 52.7403 18.8152 52.3097 18.781C51.8716 18.7463 51.4192 18.5592 50.8407 18.1616C50.3348 17.8138 49.807 17.3601 49.151 16.7961C49.0351 16.6964 48.9151 16.5932 48.7905 16.4866C47.9954 15.8061 47.0604 15.0277 45.9115 14.2431C45.2579 13.6422 44.6227 13.139 44.0935 12.7197C44.0231 12.6639 43.9546 12.6097 43.8882 12.5569C43.2677 12.0635 42.9042 11.7512 42.7211 11.5042C42.704 11.4812 42.691 11.4619 42.6812 11.4461C42.7822 11.3104 43.0736 11.0401 43.8016 10.628C47.1613 9.60305 50.9365 8.03866 53.9513 6.78938C54.0564 6.74582 54.1606 6.70265 54.2638 6.65989C55.8261 6.01275 57.1507 5.46763 58.1085 5.12704C58.4094 5.02003 58.6569 4.93955 58.8531 4.88356C59.1464 5.65909 59.2674 6.62403 59.2135 7.72653C59.147 9.08731 58.8172 10.5818 58.3015 12.0312C57.7864 13.4793 57.0971 14.8503 56.3355 15.9654C55.5629 17.0967 54.7658 17.8916 54.0649 18.2803Z' fill='%20white' stroke='black' stroke-width='2'/%3E%3Cpath d='M10.6715 18.1606C11.3321 18.4575 11.7688 18.4764 12.1073 18.3964C12.471 18.3105 12.8656 18.077 13.3807 17.605C13.825 17.1979 14.2864 16.6842 14.8556 16.0505C14.9561 15.9383 15.06 15.823 15.1677 15.7035C15.8578 14.9383 16.6688 14.0609 17.6697 13.1492C18.2349 12.4808 18.7865 11.9095 19.2479 11.4315C19.3091 11.3681 19.3687 11.3063 19.4265 11.2462C19.9622 10.6895 20.2888 10.3282 20.4553 10.048C20.4842 9.99936 20.5023 9.96257 20.5136 9.93645C20.4333 9.84926 20.2052 9.66087 19.632 9.3937C16.6165 8.84129 13.2273 7.82543 10.5312 7.01732C10.4352 6.98855 10.3401 6.96004 10.2459 6.93182C8.83993 6.51064 7.65774 6.16002 6.80705 5.95871C6.57398 5.90355 6.3809 5.86336 6.22509 5.83617C5.6406 7.69043 5.95331 10.2912 6.8662 12.7669C7.35676 14.0972 7.99742 15.3241 8.6907 16.2902C9.39869 17.2768 10.0979 17.903 10.6715 18.1606Z' fill='%20white' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  animation: earsleep2 1s ease infinite alternate;
}

/* @media screen and (max-width: 1000px) {
  .cv-character::before {
    display: none;
  }
} */

@keyframes earsleep2 {
  0% {
    top: 25px;
  }

  100% {
    top: 18px;
  }
}

/* nose */

.cv-character-face {
  position: relative;
  top: 12%;
  left: 38%;
  height: 3px;
  width: 3px;
  border-radius: 20px;
  z-index: 2;
  background-color: rgb(74, 135, 77);
}

/* EYES */
.cv-character-face::before,
.cv-character-face::after {
  content: "";
  position: absolute;
  width: 8px;
  top: 6px;
  height: 2px;
  border-radius: 30px;
  background-color: black;
}

.cv-character-face::before {
  left: 8px;
}

.cv-character-face::after {
  right: 8px;
}

/* div {
  border: solid;
} */
