<link rel="stylesheet" type="text/css" href="/components/cvbutton.css" />

<a
  href="/YennhiDang.pdf"
  target="_blank"
  rel="noopener noreferrer"
  class="cv-button"
  role="button"
>
  <div class="cv-button-wrapper">
    <div class="cv-button-text">CV</div>
  </div>

  <div class="cv-character-box">
    <div class="cv-character">
      <div class="cv-character-face"></div>
    </div>
    <div class="cv-character">
      <div class="cv-character-face"></div>
    </div>
    <div class="cv-character">
      <div class="cv-character-face"></div>
    </div>
  </div>
</a>
