<link rel="stylesheet" href="/components/menu.css" />
<script>
  function myFunction(x) {
    x.classList.toggle("change");

    var mobileNav = document.querySelector(".mobile-nav");
    mobileNav.classList.toggle("show");
  }
</script>
<div>
  <div class="hamburger" onclick="myFunction(this)" role="button">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  <nav class="mobile-nav">
    <ul style="position: relative; top: 10%">
      <li><a href="/index.html" role="button">ABOUT</a></li>
      <li>
        <a href="/project/projects.html" role="button">PROJECTS</a>
      </li>
      <li>
        <a href="/experience/experience.html" role="button">EXPERIENCE</a>
      </li>
      <li>
        <a
          id="nav-cv-button"
          href="https://drive.google.com/file/d/1kWrsn9vo2XXmRHKkLYzI5ElniNES3Bd9/view?usp=sharing"
          target="_blank"
          rel="noopener noreferrer"
          role="button"
          >CV</a
        >
      </li>
      <li>
        <a href="/contact/contact.html" role="button">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>
